---
layout: default
---

{% include carousel.html %}
{% comment %}
<h1 class="page-heading">Posts</h1>
<ul class="post-list">
	{% for post in site.posts %}
	<li>
		<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
		<h2>
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
	</li>
	{% endfor %}
</ul>
{% endcomment %}
<p class="rss-subscribe">subscribe <a href="{{ '/feed.xml' | prepend: site.baseurl }}">via RSS</a></p>
<script src="{{ '/js/swiper.min.js' | prepend: site.baseurl }}" ></script>
<script>
	var mySwiper = new Swiper('.swiper-container', {
		loop: true,
		autoplay: {
			delay: 3000,
		},
		pagination: {
			el: '.swiper-pagination',
		},
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		scrollbar: {
			el: '.swiper-scrollbar',
		},
	})
</script>
