{% comment %}
vim: et sts=1 ts=1 sw=1
{% endcomment %}
<!-- Slider main container -->
<div class="swiper-container">
 <!-- Additional required wrapper -->
 <div class="swiper-wrapper">
  <!-- Slides -->
  {% for img in site.carousel %}
  <div class="swiper-slide">
   <img src="{{ img | prepend: site.baseurl }}" />
  </div>
  {% endfor %}
 </div>
 <div class="swiper-pagination"></div>
 <div class="swiper-button-prev"></div>
 <div class="swiper-button-next"></div>
 <div class="swiper-scrollbar"></div>
</div>
