<header class="site-header">
	<div class="wrapper">
		<a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<nav class="site-nav">
			<div class="trigger">
				{% for page in site.pages %}
				{% if page.title %}
				<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
				{% endfor %}
			</div>
			<div class="menu-button-wrapper">
				<div class="menu-button-div"></div>
				<div class="menu-button-div"></div>
				<div class="menu-button-div"></div>
			</div>
		</nav>
	</div>
</header>
