<!DOCTYPE html>
<html>
 {% include head.html %}
 <body>
  {% include header.html %}
  <div class="page-content">
   <div class="main-left">
    {% include left.html %}
   </div>
   <div class="main-center">
    <div class="wrapper">
     <div id="nav-left">
      <div id="nav-list">
       <ul>
        <li><a href="#">List 1</a></li>
        <li><a href="#">List 2</a></li>
        <li><a href="#">List 3</a></li>
        <li><a href="#">List 4</a></li>
        <li><a href="#">List 5</a></li>
       </ul>
      </div>
     </div>
     <div class="home" id="home">
      {{ content }}
     </div>
    </div>
   </div>
   <div class="main-right">
    {% include right.html %}
   </div>
  </div>
  {% include footer.html %}
<script src="{{ '/js/main.js' | prepend: site.baseurl }}" ></script>
 </body>
</html>
